{block}Úřední deska{/block}

{block title}Odstranění emailu z databáze{/block}

{block content}

<h1>Opravdu chcete mail {$mail} odstranit z databáze příjemců novinek?</h1>

<a n:href="this yes=>true" class="btn btn-danger">Ano</a>
<a n:href="Homepage:" class="btn btn-success">Ne</a>