{block title}Změna hesla uživatele <i>{$user->username}</i>{/block}
{block content}
<div class="alert alert-info">Heslo si pořádně zapište, jeho automatická obnova není možná!</div>
{control passwordForm}
{/block}
